# THIS FILE IS MANAGED BY 'setup_config'

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Copy this to config.yml in backend folder
POSTGRES_USER=system_admin
POSTGRES_PASSWORD=some_hard_password
POSTGRES_DB=system_db
