global:
  round_time: 60 # should be ~4 times greater than the highest checker timeout
  flag_lifetime: 5
  start_time: 2019-04-18 15:47:00+03:00 # Don't forget the timezone
  shared_directory: /volumes/shared
  checkers_path: /checkers/
  env_path: /checkers/bin/ # can be specified for each task

tasks:
  - name: Test task
    checker: awesomeBlog/check.py # relative to checkers_path
    env_path: /additional/env
    gets: 1
    puts: 1
    places: 1
    checker_timeout: 30
    default_score: 1500

celery:
  broker_url: redis://redis:6379/1
  backend_url: redis://redis:6379/1
  task_serializer: json
  accept_content:
    - json
  result_serializer: json
  broker_transport_options:
    visibility_timeout: 36000

  worker_prefetch_multiplier: 1

  timezone: Europe/Moscow

storages:
  # Use db configuration from postgres environment file
  # (docker_config/postgres/environment.env)
  db:
    host: postgres
    port: 5432
    user: user
    password: password
    dbname: test_db

  redis:
    host: redis
    port: 6379
    db: 0

teams:
  - name: "Test team"
    ip: "127.0.0.1"

  - name: "Shadow Servants"
    ip: "192.168.1.3"