.DS_Store
.idea
__pycache__

docker_volumes

backend/config/*config.yml
backend/config/config_backup*

checkers/*
!checkers/requirements.txt

*.env
/docker-compose-base.yml

node_modules/
.mypy_cache

/.version
/release