game:
  mode: classic
  round_time: 20
  start_time: 2019-11-30 15:30:00
  timezone: Europe/Moscow

  default_score: 2500
  flag_lifetime: 5
  game_hardness: 10.0
  inflation: true

tasks:
  - checker: test_service/checker.py
    checker_timeout: 10
    checker_type: hackerdom
    gets: 2
    name: test_basic_service
    places: 5
    puts: 2

  - checker: test_service/gevent_checker.py
    checker_timeout: 10
    checker_type: gevent
    gets: 2
    name: test_gevent_service_1
    places: 5
    puts: 2

teams:
  - ip: 192.168.1.2
    name: "Team 1"

  - ip: 192.168.1.3
    name: "Team 2 (highlighted)"
    highlighted: true
