version: '2.4'

x-celery-test: &celery-test
  build:
    context: .
    dockerfile: ./docker_config/celery/Dockerfile.fast
    args:
      version: ${FORCAD_VERSION:-latest}
  restart: "no"

x-service-test: &service-test
  build:
    context: .
    dockerfile: ./docker_config/services/Dockerfile.fast
    args:
      version: ${FORCAD_VERSION:-latest}
  restart: "no"

services:
  celery:
    <<: *celery-test

  flower:
    <<: *celery-test

  initializer:
    build:
      context: .
      dockerfile: ./docker_config/initializer/Dockerfile.fast
      args:
        version: ${FORCAD_VERSION:-latest}
    restart: "no"

  ticker:
    <<: *service-test

  client-api:
    <<: *service-test

  admin-api:
    <<: *service-test

  events:
    <<: *service-test

  http-receiver:
    <<: *service-test

  nginx:
    restart: "no"

  redis:
    restart: "no"

  postgres:
    restart: "no"

  rabbitmq:
    restart: "no"

  test-service:
    build:
      context: ./tests/service
    ports:
      - "10000:10000"
    restart: "no"
