version: '2.4'

volumes:
  front_build:

services:
  celery:
    build:
      context: .
      dockerfile: docker_config/celery/Dockerfile.fast
    environment:
      - CELERY_CONTAINER_TYPE=worker
    volumes:
      - ./checkers/:/checkers/
    env_file:
      - ./docker_config/postgres/environment.env
      - ./docker_config/redis/environment.env
    restart: on-failure

  celerybeat:
    build:
      context: .
      dockerfile: docker_config/celery/Dockerfile.fast
    environment:
      - CELERY_CONTAINER_TYPE=beat
    env_file:
      - ./docker_config/postgres/environment.env
      - ./docker_config/redis/environment.env
    restart: on-failure

  flower:
    build:
      context: .
      dockerfile: docker_config/celery/Dockerfile.fast
    environment:
      - CELERY_CONTAINER_TYPE=flower
    env_file:
      - ./docker_config/postgres/environment.env
      - ./docker_config/redis/environment.env
      - docker_config/celery/flower_environment.env
    restart: on-failure


  initializer:
    build:
      context: .
      dockerfile: docker_config/initializer/Dockerfile.fast
    env_file:
      - ./docker_config/postgres/environment.env
      - ./docker_config/redis/environment.env
    restart: on-failure

  webapi:
    build:
      context: .
      dockerfile: docker_config/webapi/Dockerfile.fast
    env_file:
      - ./docker_config/postgres/environment.env
      - ./docker_config/redis/environment.env
    restart: on-failure
    tty: true

  front_builder:
    build:
      context: .
      dockerfile: docker_config/front_builder/Dockerfile
    volumes:
      - front_build:/front_build/
    restart: on-failure

  socat_flag_submitter:
    build:
      context: .
      dockerfile: docker_config/socat_flag_submitter/Dockerfile.fast
    env_file:
      - ./docker_config/postgres/environment.env
      - ./docker_config/redis/environment.env
    ports:
      - 31338:31338
    restart: on-failure
    tty: true
    pids_limit: 100

  tcp_flag_submitter:
    build:
      context: .
      dockerfile: docker_config/tcp_flag_submitter/Dockerfile.fast
    env_file:
      - ./docker_config/postgres/environment.env
      - ./docker_config/redis/environment.env
    ports:
      - 31337:31337
    restart: on-failure
    tty: true

  nginx:
    build:
      context: .
      dockerfile: docker_config/nginx/Dockerfile
    volumes:
      - front_build:/front_build
    ports:
      - 8080:80
      - 80:80
    restart: on-failure

  redis:
    image: redis:5.0.7-alpine
    command: ["sh", "-c", "redis-server --requirepass $$REDIS_PASSWORD"]
    restart: on-failure
    sysctls:
      net.core.somaxconn: 1024
    env_file:
      - ./docker_config/redis/environment.env
    ports:
      - "6379:6379"

  postgres:
    image: postgres:10.8-alpine
    volumes:
      - ./docker_volumes/postgres/data/:/var/lib/postgresql/data/
    env_file:
      - ./docker_config/postgres/environment.env
    restart: on-failure
    ports:
      - "5432:5432"