aio-pika==6.7.1
aiopg==1.0.0
aioredis==1.3.1
celery==5.0.1
flower==0.9.5
gevent==20.6.1
greenlet==0.4.16
gunicorn==20.0.4
hiredis==1.1.0
librabbitmq==2.0.0
kombu==5.0.2
prometheus-client==0.8.0
python-socketio==4.6.0
PyYAML==5.3.1
redis==3.5.3
sanic==20.9.1
Sanic-Cors==0.10.0.post3
Sanic-Plugins-Framework==0.9.4.post1
