amqp==5.0.9
async-timeout==4.0.2
autopep8==1.6.0
bidict==0.21.2
billiard==3.6.4.0
celery==5.2.7
certifi==2020.12.5
charset-normalizer==2.1.0
click==8.0.3
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
Deprecated==1.2.13
dnspython==1.16.0
eventlet==0.30.2
Flask==2.1.3
Flask-Cors==3.0.10
Flask-SocketIO==5.2.0
flower==1.1.0
greenlet==1.1.2
gunicorn==20.1.0
hiredis==2.0.0
humanize==3.12.0
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.0.1
Jinja2==3.0.3
kombu==5.2.3
MarkupSafe==2.0.1
packaging==21.3
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.2
prompt-toolkit==3.0.18
psycopg2==2.9.3
pycodestyle==2.8.0
pydantic==1.9.1
pyparsing==3.0.6
python-dateutil==2.8.1
python-engineio==4.3.3
python-socketio==5.7.1
pytz==2021.3
PyYAML==5.4.1
redis==4.3.4
requests==2.28.1
six==1.16.0
toml==0.10.2
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.10
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.8.1
