amqp==5.0.6
bidict==0.21.2
billiard==3.6.4.0
celery==5.1.1
certifi==2020.12.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dnspython==1.16.0
eventlet==0.30.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-SocketIO==5.0.1
flower @ https://github.com/mher/flower/zipball/master
gevent==21.1.2
greenlet==1.1.0
gunicorn==20.1.0
hiredis==2.0.0
humanize==3.5.0
itsdangerous==1.1.0
Jinja2==2.11.3
kombu==5.1.0
librabbitmq==2.0.0
MarkupSafe==1.1.1
prometheus-client==0.8.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
pydantic==1.8.1
python-dateutil==2.8.1
python-engineio==4.1.0
python-socketio==5.2.1
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
six==1.16.0
tornado==6.1
typing-extensions==3.10.0.0
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.4.0
