<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>python-socketio test</title>
    <script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js" type="text/javascript"></script>
    <script charset="utf-8" type="text/javascript">
        function render_tasks(tasks) {
            tasks.map((task_json) => {
                let task = JSON.parse(task_json);
                if ($(`#task-header-${task.id}`).length === 0) {
                    $("#scoreboard_head th:last-child").after(
                        `<th id="task-header-${task.id}">${task.name}</th>`
                    );
                    $(".team-row-cl").map((i, obj) => {
                        let team_id = $(obj).attr('team_id');
                        if ($(`#task-${task.id}-team-${team_id}`).length === 0) {
                            $(`#team-row-${team_id}`).append(
                                `<td id="task-${task.id}-team-${team_id}"></td>`
                            );
                        }
                    });
                }
            })
        }

        function render_teams(teams) {
            teams.map((team_json) => {
                let team = JSON.parse(team_json);
                if ($(`#team-row-${team.id}`).length === 0) {
                    let scoreboard_body = $("#scoreboard_body");
                    let team_number = scoreboard_body.children().length + 1;
                    scoreboard_body.append(
                        `<tr team_id="${team.id}" class="team-row-cl" id="team-row-${team.id}">
                            <td>${team_number}</td>
                            <td>${team.name}</td>
                        </tr>`
                    )
                }
            })
        }

        function render_state(state_json) {
            let state = JSON.parse(state_json);
            let round = state.round;
            console.log('Got round', round);
            let team_tasks = state.team_tasks;
            team_tasks.map(obj => {
                let td = $(`#task-${obj.task_id}-team-${obj.team_id}`);
                td.empty();
                td.append(`<p>Status: ${obj.status}</p>`);
                td.append(`<p>Flags: ${obj.stolen}/${obj.lost}</p>`);
                td.append(`<p>Message: ${obj.message}</p>`);
                td.append(`<p>Uptime: ${obj.up_rounds}</p>`);
                td.append(`<p>Score: ${obj.score}</p>`)
            })
        }

        $(document).ready(function () {
            const namespace = '/test';
            let socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('init_scoreboard', function (msg) {
                let data = msg.data;
                console.log(data);
                render_teams(data.teams);
                render_tasks(data.tasks);
                render_state(data.state);
            });

            socket.on('flag_stolen', function (msg) {
                let data = msg.data;
                console.log(data);
            });

            socket.on('update_scoreboard', function (msg) {
                let data = msg.data;
                console.log(data);
                render_state(data);
            });
        })
    </script>
</head>
<body>
<table>
    <thead>
    <tr id="scoreboard_head">
        <th>#</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody id="scoreboard_body">

    </tbody>
</table>
</body>
</html>
