broker_url: redis://127.0.0.1:6379/1
backend_url: redis://127.0.0.1:6379/1
task_serializer: json
accept_content:
  - json
result_serializer: json
broker_transport_options:
  visibility_timeout: 36000

timezone: Europe/Moscow