round_time: 60
flag_lifetime: 5
start_time: 2019-03-29 13:21:00+03:00
tasks:
  - name: Test task
    checker: /path/to/checker/check.py
    env_path: /path/with/chrome/driver
    gets: 1
    puts: 1
    places: 1
    checker_timeout: 20
